.App {
  font-family: 'Varela Round';
}

.App-logo {
  height: 25vh;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-body {
  display: flex;
  flex-direction: column;
}


.Comments {
  display: flex;
  flex-direction: column;
  width: 30vw;
  text-align: left;
  margin: 10px;
  padding: 5px;

}

.Comments-name {
  font-size: smaller;
  font-weight: bold;
  margin-top: 5px;
}

.Comments-comment { 
  font-size:medium;
}

.Comments-created_date {
  margin-bottom: 5px;
  font-size: x-small;
  color: grey
}

.CommentForm {
  display: flex;
  flex-direction: column;
  width: 30vw;
  text-align: left;
  margin-top: 10px;
  /* margin: 10px;
  padding: 5px; */
}

.CommentForm-name {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 20vw;
  /* padding-top: 5px;
  padding-bottom: 5px; */
  font-size: smaller;
  margin-bottom: 5px;
}

.CommentForm-comment {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 30vw;
  /* margin-bottom: 5px; */
  text-align: left;
  height: 20vh;
  resize: none;
}

textarea { font-family: inherit; }
input { font-family: inherit; }

.CommentForm-submit {
  margin-top: 0;
}